# see https://pnpm.io/npmrc
save-exact=true
# to enable pre/post-[mypackage-script] hooks
enable-pre-post-scripts=true
# >=20.6.0 supports --env option
use-node-version=20.11.0
# auto-install-peers=true
# strict-peer-dependencies=false
# disable PNPM update notification
update-notifier=false
prefer-workspace-packages=true
# disable echoing npm script commands
loglevel=warn
# dont use global pnpm-store to prevent bloating your hard disk
# bonus : the local store is reused by the gitlog-per-package docker image
store-dir=.pnpm-store
script-shell=/bin/bash
